In [1]:
import pandas as pd

In [2]:
output_file_name = "bicicletas.xlsx"
output_sheet_name = "bicicletas"

In [3]:
df_bicicletas_2020 = pd.read_csv('bicicletas_2020.csv')

In [4]:
df_bicicletas_2020['inicio_año'] = pd.DatetimeIndex(df_bicicletas_2020['fecha_origen_recorrido']).year

In [5]:
df_bicicletas_2020['inicio_mes'] = pd.DatetimeIndex(df_bicicletas_2020['fecha_origen_recorrido']).month

In [6]:
MESES = { 1 : '01', 2 : '02', 3 : '03', 4 : '04', 5 : '05', 6 : '06', 7 : '07', 8 : '08', 9 : '09', 10 : '10', 11 : '11', 12 : '12'}

In [7]:
df_bicicletas_2020['inicio_mes'] = df_bicicletas_2020['inicio_mes'].map(MESES)

In [8]:
df_bicicletas_2020['AÑO_MES'] = df_bicicletas_2020['inicio_año'].astype(str) + df_bicicletas_2020['inicio_mes'].astype(str)

In [9]:
df_bicicletas_2020['ID'] = df_bicicletas_2020.index

In [15]:
df_bicicletas_2020['TIPO'] = 'BICICLETAS'

In [18]:
df = df_bicicletas_2020.groupby(['AÑO_MES','TIPO'],as_index=False).count()[['AÑO_MES','TIPO','ID']].rename({'ID':'TOTAL'},axis=1)
df

   AÑO_MES        TIPO   TOTAL
0   202001  BICICLETAS  159233
1   202002  BICICLETAS  116965
2   202003  BICICLETAS   52951
3   202005  BICICLETAS   20235
4   202006  BICICLETAS   69707
5   202007  BICICLETAS   98328
6   202008  BICICLETAS  248180
7   202009  BICICLETAS  273719
8   202010  BICICLETAS  323130
9   202011  BICICLETAS  332410
10  202012  BICICLETAS  308087

In [19]:
writer = pd.ExcelWriter(output_file_name, engine='xlsxwriter')

df.to_excel(writer, index=False, sheet_name=output_sheet_name)

workbook  = writer.book
worksheet = writer.sheets[output_sheet_name]

format = workbook.add_format()
format.set_align('center')
format.set_align('vcenter')

worksheet.set_column('A:C', 30, format)

writer.save()