In [114]:
import pandas as pd

In [115]:
input_file_name = 'bicicletas.csv'

In [116]:
output_file_name = "bicicletas.xlsx"
output_sheet_name = "bicicletas"

In [117]:
df_bicicletas = pd.read_csv(input_file_name)

In [118]:
df_bicicletas.head()

,duracion_recorrido,id_estacion_origen,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,id_usuario,direccion_estacion_origen,long_estacion_origen,lat_estacion_origen,direccion_estacion_destino,long_estacion_destino,lat_estacion_destino,periodo
0,882,116,2020-12-31 23:54:22,116 - HOSPITAL ALEMÁN,2021-01-01 00:09:04,214.0,142 - Armenia y Gorriti,666202,Beruti & Ecuador,-58.402586,-34.592171,Armenia 1525 y Gorriti,-58.428972,-34.590541,2020
1,894,116,2020-12-29 12:39:18,116 - HOSPITAL ALEMÁN,2020-12-29 12:54:12,214.0,142 - Armenia y Gorriti,332689,Beruti & Ecuador,-58.402586,-34.592171,Armenia 1525 y Gorriti,-58.428972,-34.590541,2020
2,1361,116,2020-12-21 21:21:38,116 - HOSPITAL ALEMÁN,2020-12-21 21:44:19,214.0,142 - Armenia y Gorriti,57949,Beruti & Ecuador,-58.402586,-34.592171,Armenia 1525 y Gorriti,-58.428972,-34.590541,2020
3,1010,116,2020-12-20 21:58:19,116 - HOSPITAL ALEMÁN,2020-12-20 22:15:09,214.0,142 - Armenia y Gorriti,454846,Beruti & Ecuador,-58.402586,-34.592171,Armenia 1525 y Gorriti,-58.428972,-34.590541,2020
4,1490,116,2020-12-20 13:32:53,116 - HOSPITAL ALEMÁN,2020-12-20 13:57:43,214.0,142 - Armenia y Gorriti,690975,Beruti & Ecuador,-58.402586,-34.592171,Armenia 1525 y Gorriti,-58.428972,-34.590541,2020

In [119]:
df_bicicletas.shape

(2002945, 15)

In [120]:
df_bicicletas['AÑO'] = pd.DatetimeIndex(df_bicicletas['fecha_origen_recorrido']).year

In [121]:
df_bicicletas['MES'] = pd.DatetimeIndex(df_bicicletas['fecha_origen_recorrido']).month

In [122]:
df_bicicletas['TIPO'] = 'BICICLETAS'

In [123]:
df_bicicletas['ID'] = df_bicicletas.index

In [136]:
df = df_bicicletas.groupby(['AÑO','MES','TIPO'],as_index=False).count()[['AÑO','MES','TIPO','ID']].rename({'ID':'TOTAL'},axis=1)

In [137]:
df = df.append({'AÑO': 2020, 'MES' : 4, 'TIPO' : 'BICICLETAS', 'TOTAL' : '0'}, ignore_index=True)

In [138]:
df.AÑO = df.AÑO.astype(int)
df.MES = df.MES.astype(int)
df = df.sort_values(by=['AÑO','MES']).reset_index(drop=True)
df

     AÑO  MES        TIPO   TOTAL
0   2020    1  BICICLETAS  159233
1   2020    2  BICICLETAS  116965
2   2020    3  BICICLETAS   52951
3   2020    4  BICICLETAS       0
4   2020    5  BICICLETAS   20235
5   2020    6  BICICLETAS   69707
6   2020    7  BICICLETAS   98328
7   2020    8  BICICLETAS  248180
8   2020    9  BICICLETAS  273719
9   2020   10  BICICLETAS  323130
10  2020   11  BICICLETAS  332410
11  2020   12  BICICLETAS  308087

In [139]:
df['TOTAL'] = df['TOTAL'].astype(int)
df['TOTAL']=pd.cut(df['TOTAL'],10,labels=[1,2,3,4,5,6,7,8,9,10])
df

     AÑO  MES        TIPO TOTAL
0   2020    1  BICICLETAS     5
1   2020    2  BICICLETAS     4
2   2020    3  BICICLETAS     2
3   2020    4  BICICLETAS     1
4   2020    5  BICICLETAS     1
5   2020    6  BICICLETAS     3
6   2020    7  BICICLETAS     3
7   2020    8  BICICLETAS     8
8   2020    9  BICICLETAS     9
9   2020   10  BICICLETAS    10
10  2020   11  BICICLETAS    10
11  2020   12  BICICLETAS    10

In [140]:
writer = pd.ExcelWriter(output_file_name, engine='xlsxwriter')

df.to_excel(writer, index=False, sheet_name=output_sheet_name)

workbook  = writer.book
worksheet = writer.sheets[output_sheet_name]

format = workbook.add_format()
format.set_align('center')
format.set_align('vcenter')

worksheet.set_column('A:D', 30, format)

writer.save()