In [1]:
import pandas as pd

In [2]:
output_file_name = "vehiculos.xlsx"
output_sheet_name = "vehiculos"

In [3]:
df_vehiculos_2020 = pd.read_csv('vehiculos_2020.csv')

In [4]:
MESES = { 'enero' : '01', 'febrero' : '02 ', 'marzo' : '03', 'abril' : '04', 'mayo' : '05', 'junio' : '06', 'julio' : '07', 'agosto' : '08', 'septiembre' : '09', 'octubre' : '10', 'noviembre' : '11', 'diciembre' : '12'}

In [5]:
df_vehiculos_2020["año"] = pd.DatetimeIndex(df_vehiculos_2020['fecha']).year

In [6]:
df_vehiculos_2020["mes"] = pd.DatetimeIndex(df_vehiculos_2020['fecha']).month

In [7]:
MESES = { 1 : '01', 2 : '02 ', 3 : '03', 4 : '04', 5 : '05', 6 : '06', 7 : '07', 8 : '08', 9 : '09', 10 : '10', 11 : '11', 12 : '12'}

In [8]:
df_vehiculos_2020["mes"] = df_vehiculos_2020["mes"].map(MESES)

In [9]:
df_vehiculos_2020['AÑO_MES'] = df_vehiculos_2020['año'].astype(str)  + df_vehiculos_2020['mes'].astype(str)

In [10]:
df_vehiculos_2020['ID'] = df_vehiculos_2020.index

In [11]:
MESES = { 'enero' : '01', 'febrero' : '02 ', 'marzo' : '03', 'abril' : '04', 'mayo' : '05', 'junio' : '06', 'julio' : '07', 'agosto' : '08', 'septiembre' : '09', 'octubre' : '10', 'noviembre' : '11', 'diciembre' : '12'}

In [16]:
df_vehiculos_2020['TIPO'] = 'VEHICULOS'

In [17]:
df = df_vehiculos_2020.groupby(['AÑO_MES','TIPO'],as_index=False).count()[['AÑO_MES','TIPO','ID']].rename({'ID':'TOTAL'},axis=1)
df

    AÑO_MES       TIPO   TOTAL
0    202001  VEHICULOS  248546
1   202002   VEHICULOS  232209
2    202003  VEHICULOS  197980
3    202004  VEHICULOS  143191
4    202005  VEHICULOS  171215
5    202006  VEHICULOS  212227
6    202007  VEHICULOS  209202
7    202008  VEHICULOS  213511
8    202009  VEHICULOS  219852
9    202010  VEHICULOS  226641
10   202011  VEHICULOS  222866
11   202012  VEHICULOS  236303

In [18]:
writer = pd.ExcelWriter(output_file_name, engine='xlsxwriter')

df.to_excel(writer, index=False, sheet_name=output_sheet_name)

workbook  = writer.book
worksheet = writer.sheets[output_sheet_name]

format = workbook.add_format()
format.set_align('center')
format.set_align('vcenter')

worksheet.set_column('A:C', 30, format)

writer.save()