In [11]:
import matplotlib.pyplot as plt

In [12]:
from openpyxl import load_workbook

In [13]:
import pandas as pd

In [14]:
import seaborn as sns

In [15]:
input_file_name_bicicletas = "https://github.com/fernandorgonzalez/cursos-eant-python_data_analytics-proyecto/blob/main/bicicletas.xlsx?raw=true"
input_sheet_name_bicicletas = "bicicletas"

In [16]:
input_file_name_subte = "https://github.com/fernandorgonzalez/cursos-eant-python_data_analytics-proyecto/blob/main/subte.xlsx?raw=true"
input_sheet_name_subte = "subte"

In [17]:
input_file_name_vehiculos = "https://github.com/fernandorgonzalez/cursos-eant-python_data_analytics-proyecto/blob/main/vehiculos.xlsx?raw=true"
input_sheet_name_vehiculos = "vehiculos"

In [18]:
df_bicicletas = pd.read_excel(input_file_name_bicicletas, sheet_name = input_sheet_name_bicicletas)

In [19]:
df_subte = pd.read_excel(input_file_name_subte, sheet_name = input_sheet_name_subte)

In [20]:
df_vehiculos = pd.read_excel(input_file_name_vehiculos, sheet_name = input_sheet_name_vehiculos)

In [21]:
df = pd.concat([df_bicicletas,df_subte,df_vehiculos])

In [22]:
df

    AÑO_MES        TIPO     TOTAL
0    202001  BICICLETAS    159233
1    202002  BICICLETAS    116965
2    202003  BICICLETAS     52951
3    202005  BICICLETAS     20235
4    202006  BICICLETAS     69707
5    202007  BICICLETAS     98328
6    202008  BICICLETAS    248180
7    202009  BICICLETAS    273719
8    202010  BICICLETAS    323130
9    202011  BICICLETAS    332410
10   202012  BICICLETAS    308087
11   202101  BICICLETAS    277277
12   202102  BICICLETAS    312790
13   202103  BICICLETAS    300889
14   202104  BICICLETAS    235238
15   202105  BICICLETAS    193235
16   202106  BICICLETAS      9297
0    202001       SUBTE  14431260
1    202002       SUBTE  14379523
2    202003       SUBTE  16665570
3    202004       SUBTE   2532868
4    202005       SUBTE   2769479
5    202006       SUBTE   3566230
6    202007       SUBTE   3417198
7    202008       SUBTE   3122951
8    202009       SUBTE   3629713
9    202010       SUBTE   4966696
10   202011       SUBTE   3768015
11   202012       SUBTE   4255468
0    202001   VEHICULOS    248546
1    202002   VEHICULOS    232209
2    202003   VEHICULOS    197980
3    202004   VEHICULOS    143191
4    202005   VEHICULOS    171215
5    202006   VEHICULOS    212227
6    202007   VEHICULOS    209202
7    202008   VEHICULOS    213511
8    202009   VEHICULOS    219852
9    202010   VEHICULOS    226641
10   202011   VEHICULOS    222866
11   202012   VEHICULOS    236303
12   202101   VEHICULOS    236469
13   202102   VEHICULOS    210109
14   202103   VEHICULOS    241040
15   202104   VEHICULOS    221312
16   202105   VEHICULOS    210541
17   202106   VEHICULOS    216614
18   202107   VEHICULOS    236267
19   202108   VEHICULOS    237357