In [42]:
import pandas as pd

In [43]:
#https://sisa.msal.gov.ar/datos/descargas/covid-19/files/Covid19Casos.zip
input_file_name = 'covid.csv'

In [44]:
output_file_name = "covid.xlsx"
output_sheet_name = "covid"

In [45]:
df_covid = pd.read_csv(input_file_name)

/Users/fernandogonzalez/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10,11,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [46]:
df_covid.head()

,numero_de_caso,fecha_apertura_snvs,fecha_toma_muestra,fecha_clasificacion,provincia,barrio,comuna,genero,edad,clasificacion,fecha_fallecimiento,fallecido,fecha_alta,tipo_contagio
0,16349158,08JUL2021:00:00:00.000000,15JUL2021:00:00:00.000000,15JUL2021:00:00:00.000000,Buenos Aires,NaN,NaN,masculino,30.0,confirmado,NaN,NaN,NaN,Comunitario
1,16371068,08JUL2021:00:00:00.000000,08JUL2021:00:00:00.000000,08JUL2021:00:00:00.000000,CABA,VILLA DEVOTO,11.0,femenino,39.0,confirmado,NaN,NaN,NaN,Comunitario
2,16371077,08JUL2021:00:00:00.000000,08JUL2021:00:00:00.000000,08JUL2021:00:00:00.000000,Buenos Aires,NaN,NaN,femenino,28.0,confirmado,NaN,NaN,NaN,Comunitario
3,16371082,08JUL2021:00:00:00.000000,08JUL2021:00:00:00.000000,08JUL2021:00:00:00.000000,CABA,VILLA PUEYRREDON,12.0,femenino,31.0,confirmado,NaN,NaN,NaN,Comunitario
4,16371096,08JUL2021:00:00:00.000000,19JUL2021:00:00:00.000000,19JUL2021:00:00:00.000000,Buenos Aires,NaN,NaN,masculino,32.0,confirmado,NaN,NaN,NaN,Comunitario

In [47]:
df_covid.shape

(3276519, 14)

In [48]:
df_covid.provincia.value_counts()

CABA                   1871066
Buenos Aires           1219409
Córdoba                  15897
Misiones                 15458
Chubut                   14695
Corrientes               14317
Santa Fe                 12510
Río Negro                11410
Entre Ríos                9743
Santa Cruz                9015
Mendoza                   7917
Salta                     7276
Tucumán                   7162
Neuquén                   6910
Chaco                     6876
Santiago del Estero       6378
Tierra del Fuego          5110
Formosa                   4442
Jujuy                     3775
La Pampa                  3687
San Luis                  3399
San Juan                  2981
La Rioja                  1732
Catamarca                 1583
Name: provincia, dtype: int64

In [49]:
df_covid = df_covid.loc[ df_covid.provincia == 'CABA', : ]

In [50]:
df_covid.provincia.value_counts()

CABA    1871066
Name: provincia, dtype: int64

In [51]:
df_covid['Año'] = [ i[5:9] for i in df_covid['fecha_clasificacion'] ]

In [52]:
df_covid = df_covid.loc[ df_covid.Año == '2020' ]

AttributeError: 'DataFrame' object has no attribute 'AÑO'

In [ ]:
df_covid['Mes'] = [ i[2:5] for i in df_covid['fecha_clasificacion'] ]

In [ ]:
MESES = { 'JAN' : '1', 'FEB' : '2', 'MAR' : '3', 'APR' : '4', 'MAY' : '5', 'JUN' : '6', 'JUL' : '7', 'AUG' : '8', 'SEP' : '9', 'OCT' : '10', 'NOV' : '11', 'DEC' : '12'}

In [ ]:
df_covid["Mes"] = df_covid["Mes"].map(MESES)

In [ ]:
df_covid['Tipo'] = 'Casos de Covid'

In [ ]:
df = df_covid.groupby(['Año','Mes','Tipo'],as_index=False).count()[['Año','Mes','Tipo','numero_de_caso']].rename({'numero_de_caso':'Total'},axis=1)

In [ ]:
df.Mes = df.Mes.astype(int)
df = df.sort_values(by=['Año','Mes']).reset_index(drop=True)
df

In [ ]:
df['Total'] = df['Total'].astype(int)
df['Intervalo']=pd.cut(df['Total'],10,labels=[1,2,3,4,5,6,7,8,9,10])
df

In [ ]:
enero = df.loc[ df.Mes == 1, ['Intervalo']].iloc[0,0]
diciembre = df.loc[ df.Mes == 12, ['Intervalo']].iloc[0,0]
diciembre_enero = int(((diciembre - enero)/enero)*100)
if diciembre_enero > 0:
    diciembre_enero = '+' + str(diciembre_enero) + ' %'
else:
    diciembre_enero = str(diciembre_enero) + ' %'

In [ ]:
df['Diciembre Vs Enero'] = diciembre_enero
df

In [ ]:
writer = pd.ExcelWriter(output_file_name, engine='xlsxwriter')

df.to_excel(writer, index=False, sheet_name=output_sheet_name)

workbook  = writer.book
worksheet = writer.sheets[output_sheet_name]

format = workbook.add_format()
format.set_align('center')
format.set_align('vcenter')

worksheet.set_column('A:F', 30, format)

writer.save()