In [18]:
import pandas as pd

In [19]:
input_file_name = 'vehiculos.csv'

In [20]:
output_file_name = "vehiculos.xlsx"
output_sheet_name = "vehiculos"

In [21]:
df_vehiculos = pd.read_csv(input_file_name)

In [22]:
df_vehiculos.head()

,periodo,fecha,mes,dia,dia_fecha,hora_inicio,hora_fin,estacion,tipo_vehiculo,forma_pago,observacion,sentido,cantidad_pasos
0,2020.0,2020-01-01 00:00:00,enero,Miércoles,1.0,0.0,1.0,ALBERDI,Auto,Efectivo,Efectivo,Centro,24.0
1,2020.0,2020-01-01 00:00:00,enero,Miércoles,1.0,0.0,1.0,ALBERDI,Auto,Efectivo,Efectivo,Provincia,80.0
2,2020.0,2020-01-01 00:00:00,enero,Miércoles,1.0,0.0,1.0,ALBERDI,Auto,Rec.Deuda,Paso en Infracción,Provincia,1.0
3,2020.0,2020-01-01 00:00:00,enero,Miércoles,1.0,0.0,1.0,ALBERDI,Auto,Rec.Deuda,Paso en infracción con Multa LPR,Centro,1.0
4,2020.0,2020-01-01 00:00:00,enero,Miércoles,1.0,0.0,1.0,ALBERDI,Auto,Rec.Deuda,Paso en infracción con Multa LPR,Provincia,1.0

In [23]:
df_vehiculos.shape

(2533743, 13)

In [24]:
df_vehiculos["AÑO"] = pd.DatetimeIndex(df_vehiculos['fecha']).year

In [25]:
df_vehiculos["MES"] = pd.DatetimeIndex(df_vehiculos['fecha']).month

In [26]:
df_vehiculos['TIPO'] = 'VEHICULOS'

In [27]:
df_vehiculos['ID'] = df_vehiculos.index

In [30]:
df = df_vehiculos.groupby(['AÑO','MES','TIPO'],as_index=False).count()[['AÑO','MES','TIPO','ID']].rename({'ID':'TOTAL'},axis=1)

In [31]:
df['TOTAL'] = df['TOTAL'].astype(int)
df['TOTAL']=pd.cut(df['TOTAL'],10,labels=[1,2,3,4,5,6,7,8,9,10])
df

     AÑO  MES       TIPO TOTAL
0   2020    1  VEHICULOS    10
1   2020    2  VEHICULOS     9
2   2020    3  VEHICULOS     6
3   2020    4  VEHICULOS     1
4   2020    5  VEHICULOS     3
5   2020    6  VEHICULOS     7
6   2020    7  VEHICULOS     7
7   2020    8  VEHICULOS     7
8   2020    9  VEHICULOS     8
9   2020   10  VEHICULOS     8
10  2020   11  VEHICULOS     8
11  2020   12  VEHICULOS     9

In [32]:
writer = pd.ExcelWriter(output_file_name, engine='xlsxwriter')

df.to_excel(writer, index=False, sheet_name=output_sheet_name)

workbook  = writer.book
worksheet = writer.sheets[output_sheet_name]

format = workbook.add_format()
format.set_align('center')
format.set_align('vcenter')

worksheet.set_column('A:D', 30, format)

writer.save()